{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-sm-4">
            <div class="card" style="width: 18rem; background-color: #f5b041
">
  <img src="{{i.img.url}}" class="card-img-top" alt="..." width="200px" height="150px">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.year}} </p>
    <a href="{% url 'movieapp:detail' i.id%}" class="btn btn-primary" style="background-color:#d68910;border:#d68910">View Details</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
